.home-container {
  background-image: url('../assets/dark-bg.jpg'); /* Page background */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
}

.home-buttons-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.home-button {
  background-image: url('../assets/main-bg.jpg'); /* Button background */
  background-size: cover;
  color: white; /* White text */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease-in-out;
}

.home-button:hover {
  transform: scale(1.05); /* Zoom effect */
}

.home-button:active {
  transform: scale(0.95);
}
